@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@700;800&display=swap');

:root {
  --font-display: 'Urbanist', Spline Sans, Inter, system-ui, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  --font-rounded: 'SF Pro Rounded', 'Hiragino Maru Gothic ProN', sans-serif;
  --font-serif: Georgia, 'Times New Roman', serif;
  --font-body: 'Nunito Sans', system-ui, sans-serif;
  --font-logo: 'Parkinsans', system-ui, sans-serif;
}
